body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(10, 135, 157);
    display: flex;
    flex-direction: column;
}

.top-line {
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-shadow: 2px 2px 4px black;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.main-photo img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    object-position: 0 35%;
}

.information {
    text-align: center;
}

.pets img {
    border-radius: 30px;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.images {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.pets {
   max-width: 150px;
}

.information {
    text-align: center;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    background-color: rgb(97, 196, 214);
}

.signup {
    background-color: rgb(247, 195, 7);
}

.footer {
    background-color: rgb(10, 135, 157);
    display: flex;
    justify-content: center;
    align-items: center;
}
