body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(10, 135, 157);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.top-line {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 15px;

}

.login a {
    color: rgb(247, 195, 7);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-right: 525px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 4px black;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    padding: 100px;
    flex-wrap: wrap;
    gap: 50px;
}

h1 {
    font-size: 45px;
    font-family: 'Tahoma', sans-serif;
    color:rgb(247, 195, 7);
    padding: 0;
    margin: 0;
}

.header-text {
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
}

button {
    font-size: 18px;
    font-family: 'Tahoma', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 150px;

}

.main-photo img{
    width: 500px;
    height: 350px;
    object-fit: cover;
    object-position: 0 35%;
    display: flex;
    flex-wrap: wrap;
}

.information {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
}

h2 {
    font-family: 'Tahoma', sans-serif;
    font-size: 32px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.pets img {
    border-radius: 30px;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.adventure {
    object-position: 0 25%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.pets {
   max-width: 250px;
}

.text {
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
    padding: 20px;
}

.quote-container {
    background-color: rgb(126, 215, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.quote-content {
    max-width: 1000px;
    margin: 0 auto;
}

.quote {
    font-family: 'Times New Roman', serif;
    font-size: 38px;
    color: rgb(57, 57, 60);
    text-align: left;
    margin: 0 auto;
}

.name {
    font-size: 24px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(57, 57, 60);
    text-align: right;
    padding-top: 20px;
}

.action-section {
    display: flex;
    margin: 0 auto;
    padding: 100px;
    align-items: center;
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 15px;
    max-width: 800px;
    background-color: rgb(247, 195, 7);
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto; 
    text-align: left;
}

.action-words {
    font-size: 20px;
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-weight: bold;
    gap: 30px;
    max-width: 600px;
}

.action-message {
    font-size: 16px;
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    justify-content: flex-start;
}

.action-button {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 200px;
}

.footer {
    background-color: rgb(10, 135, 157);
    font-size: 14px;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
